rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow only authenticated users to read and write their own data
    match /users/{userId} {
      allow update: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
      allow read;
    }
    
    match /users/{userId}/{document=**} {
    	allow read, write: if request.auth.uid == userId;
    }

    match /users/{userId}/notes/{noteId} {
      allow read, write: if request.auth.uid == userId;
      allow read: if resource.data.public == true;
    }

    match /public_notes/{document=**} {
    	allow read: if true;
      allow create, write, update, delete: if request.auth.uid != null;
    }
  }
}