rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow only authenticated users to read and write their own data
    match /users/{userId} {
      allow update: if true;
      allow read, create: if true;
    }
    
    match /users/{userId}/{document=**} {
    	allow read, write: if true;
    }
  }
}