@import url("https://api.fonts.coollabs.io/css2?family=Poppins:wght@300;400;500;600;700&display=swap")
layer(base);
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap")
layer(base);
@import url("https://fonts.googleapis.com/css2?family=Leckerli One&display=swap")
layer(base);

@import "tailwindcss";

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

* {
  font-family: "Poppins", sans-serif;
}

.text-pacifico {
  font-family: "Leckerli One", sans-serif;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f1f5f9;
}

.dark .scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #0f172a;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #a0abb8;
  border-radius: 100vh;
  border: 3px solid #f1f5f9;
}

.dark .scrollbar::-webkit-scrollbar-thumb {
  background: #596579;
  border-radius: 100vh;
  border: 3px solid #334155;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #8993a0;
  border: 3px solid #f1f5f9;
}

.firebase-emulator-warning {
  display: none;
}

.font-outline-2 {
  -webkit-text-stroke: 2px black;
}
.font-outline-4 {
  -webkit-text-stroke: 4px black;
}

ul[data-type="taskList"] {
  list-style: none;
  padding: 0;
}

ul[data-type="taskList"] p {
  margin: 0;
}

ul[data-type="taskList"] li {
  display: flex;
}

ul[data-type="taskList"] li > label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  margin-top: 0;
  user-select: none;
}

ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
  margin-bottom: 0;
}

label > input[type="checkbox"] {
  border-radius: 0.25rem;
}

/* .milkdown {
  width: 100%;
  height: 100%;
}

[data-milkdown-root="true"] {
  width: 100%;
  height: 100%;
}

.ProseMirror {
  @apply max-h-none max-w-none;
}

.milkdown .editor {
  height: 100% !important;
} */
