@import url("https://api.fonts.coollabs.io/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.text-pacifico {
  font-family: "Leckerli One", sans-serif;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f1f5f9;
}

.dark .scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #0f172a;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #a0abb8;
  border-radius: 100vh;
  border: 3px solid #f1f5f9;
}

.dark .scrollbar::-webkit-scrollbar-thumb {
  background: #596579;
  border-radius: 100vh;
  border: 3px solid #334155;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #8993a0;
  border: 3px solid #f1f5f9;
}

.firebase-emulator-warning {
  display: none;
}

.font-outline-2 {
  -webkit-text-stroke: 2px black;
}
.font-outline-4 {
  -webkit-text-stroke: 4px black;
}

/* .milkdown {
  width: 100%;
  height: 100%;
}

[data-milkdown-root="true"] {
  width: 100%;
  height: 100%;
}

.ProseMirror {
  @apply max-h-none max-w-none;
}

.milkdown .editor {
  height: 100% !important;
} */
