@import url("https://api.fonts.coollabs.io/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.text-pacifico {
  font-family: "Leckerli One", sans-serif;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f1f5f9;
}

.dark .scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #0f172a;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #a0abb8;
  border-radius: 100vh;
  border: 3px solid #f1f5f9;
}

.dark .scrollbar::-webkit-scrollbar-thumb {
  background: #596579;
  border-radius: 100vh;
  border: 3px solid #334155;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #8993a0;
  border: 3px solid #f1f5f9;
}

.firebase-emulator-warning {
  display: none;
}

.font-outline-2 {
  -webkit-text-stroke: 2px black;
}
.font-outline-4 {
  -webkit-text-stroke: 4px black;
}

ul[data-type="taskList"] {
  list-style: none;
  padding: 0;
}

ul[data-type="taskList"] p {
  margin: 0;
}

ul[data-type="taskList"] li {
  display: flex;
}

ul[data-type="taskList"] li > label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  margin-top: 0;
  user-select: none;
}

ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
  margin-bottom: 0;
}

label > input[type="checkbox"] {
  border-radius: 0.25rem;
}

.customShadow {
  -webkit-box-shadow: -24px 26px 37.9px 0px rgba(137, 145, 156, 0.4);
  -moz-box-shadow: -24px 26px 37.9px 0px rgba(137, 145, 156, 0.4);
  box-shadow: -24px 26px 37.9px 0px rgba(137, 145, 156, 0.4);
}
.customShadowDark {
  -webkit-box-shadow: -7px 4px 37.9px 0px rgba(137, 145, 156, 0.4);
  -moz-box-shadow: -7px 4px 37.9px 0px rgba(137, 145, 156, 0.4);
  box-shadow: -7px 4px 37.9px 0px rgba(137, 145, 156, 0.4);
}

.text-p {
  @apply text-[18px] text-slate-900 dark:text-slate-50;
}

.text-ui {
  @apply text-[16px] text-slate-900 dark:text-slate-50;
}

.text-h5 {
  @apply text-[22px] text-slate-900 dark:text-slate-50 sm:text-[18px];
}

.text-h4 {
  @apply text-[20px] font-medium text-slate-900 dark:text-slate-50 sm:text-[28px];
}

.text-h3 {
  @apply text-[24px] font-semibold text-slate-900 dark:text-slate-50 sm:text-[36px];
}

.text-h2 {
  @apply text-[32px] font-bold text-slate-900 dark:text-slate-50 sm:text-[42px];
}

.text-h1 {
  @apply text-[38px] font-bold text-slate-900 dark:text-slate-50 sm:text-[52px];
}

.text-special {
  @apply text-center text-[40px] font-bold text-slate-900 dark:text-slate-50 sm:text-[65px];
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
}

.fpButton-page {
  @apply rounded-full bg-slate-800 px-[30px] py-1.5 transition-transform hover:scale-105 dark:bg-slate-600;
}

.fpButton-ui {
  @apply rounded-full border border-slate-800 bg-slate-50 p-5 py-1.5 transition-colors hover:bg-slate-200 dark:border-slate-50 dark:bg-slate-900 dark:hover:bg-slate-800;
}

.fpButton-page p {
  @apply text-[16px] text-slate-50;
}

.fpButton-ui p {
  @apply text-[16px] text-slate-900 dark:text-slate-50;
}

/* .milkdown {
  width: 100%;
  height: 100%;
}

[data-milkdown-root="true"] {
  width: 100%;
  height: 100%;
}

.ProseMirror {
  @apply max-h-none max-w-none;
}

.milkdown .editor {
  height: 100% !important;
} */
