@import url("https://api.fonts.coollabs.io/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

/* .milkdown {
  width: 100%;
  height: 100%;
}

[data-milkdown-root="true"] {
  width: 100%;
  height: 100%;
}

.ProseMirror {
  @apply max-h-none max-w-none;
}

.milkdown .editor {
  height: 100% !important;
} */
